# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
PGLITE_PATH=****

# The relative path from the 'ai-chatbot' directory to the project root directory 'tauri-ai-chatbot'.
# This is used to locate resources or configurations in the root directory.
# Example: If 'ai-chatbot' is a subdirectory of 'tauri-ai-chatbot', the relative path is '../'.
PROJECT_ROOT=./